In [3]:
import cx_Oracle

In [4]:
### 오라클 서버를 찾아가기
dns = cx_Oracle.makedsn('localhost', 1521, 'xe')

In [5]:
### 오라클 서버 안에 데이터베이스 정보로 접속하기
conn = cx_Oracle.connect('gwangju_b', 'dbdb', dns)

In [6]:
### 오라클 서버에 SQL구문을 전달하고,
### 결과값을 받아오는 담당자 받아오기..
cursor = conn.cursor()

In [7]:
sql = """
        select * from member
        where mem_id = 'b001' and mem_pass = '1004' 
"""

cursor.execute(sql)

row = cursor.fetchall()

row

[('b001',
  '1004',
  '이쁜이',
  '741004',
  '2900000',
  datetime.datetime(1974, 1, 7, 0, 0),
  '700-030',
  '서울시 천사동 예쁜마을',
  '1004-29',
  '02-888-9999',
  '02-888-9999',
  '016-888-9999',
  'engelcd@pretty.net',
  '회사원',
  '수영',
  '아버님생신',
  datetime.datetime(1999, 2, 12, 0, 0),
  2300,
  None)]

In [8]:
### 컬럼명 조회하기
colname = cursor.description

colname

[('MEM_ID', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('MEM_PASS', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('MEM_NAME', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 20, 20, None, None, 0),
 ('MEM_REGNO1', <cx_Oracle.DbType DB_TYPE_CHAR>, 6, 6, None, None, 0),
 ('MEM_REGNO2', <cx_Oracle.DbType DB_TYPE_CHAR>, 7, 7, None, None, 0),
 ('MEM_BIR', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1),
 ('MEM_ZIP', <cx_Oracle.DbType DB_TYPE_CHAR>, 7, 7, None, None, 0),
 ('MEM_ADD1', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 100, 100, None, None, 0),
 ('MEM_ADD2', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 80, 80, None, None, 0),
 ('MEM_HOMETEL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 14, 14, None, None, 0),
 ('MEM_COMTEL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 14, 14, None, None, 0),
 ('MEM_HP', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 1),
 ('MEM_MAIL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 0),
 ('MEM_JOB', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 1),
 ('MEM_LIKE', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 1),
 ('MEM_MEMORIAL', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 40, 40, None, None, 1),
 ('MEM_MEMORIALDAY', <cx_Oracle.DbType DB_TYPE_DATE>, 23, None, None, None, 1),
 ('MEM_MILEAGE', <cx_Oracle.DbType DB_TYPE_NUMBER>, 11, None, 10, 0, 1),
 ('MEM_DELETE', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 1, 1, None, None, 1)]

In [9]:
### 컬럼명만 추출하여 리스트에 담기

col = []

for c in colname:
    col.append(c[0])
    
col

['MEM_ID',
 'MEM_PASS',
 'MEM_NAME',
 'MEM_REGNO1',
 'MEM_REGNO2',
 'MEM_BIR',
 'MEM_ZIP',
 'MEM_ADD1',
 'MEM_ADD2',
 'MEM_HOMETEL',
 'MEM_COMTEL',
 'MEM_HP',
 'MEM_MAIL',
 'MEM_JOB',
 'MEM_LIKE',
 'MEM_MEMORIAL',
 'MEM_MEMORIALDAY',
 'MEM_MILEAGE',
 'MEM_DELETE']

In [10]:
    list_row = []
    
    for columns in row :
        dict_col = {}
        
        for i in range(0, len(columns), 1) :
            dict_col[col[i]] = columns[i]

        list_row.append(dict_col)
        
list_row

[{'MEM_ID': 'b001',
  'MEM_PASS': '1004',
  'MEM_NAME': '이쁜이',
  'MEM_REGNO1': '741004',
  'MEM_REGNO2': '2900000',
  'MEM_BIR': datetime.datetime(1974, 1, 7, 0, 0),
  'MEM_ZIP': '700-030',
  'MEM_ADD1': '서울시 천사동 예쁜마을',
  'MEM_ADD2': '1004-29',
  'MEM_HOMETEL': '02-888-9999',
  'MEM_COMTEL': '02-888-9999',
  'MEM_HP': '016-888-9999',
  'MEM_MAIL': 'engelcd@pretty.net',
  'MEM_JOB': '회사원',
  'MEM_LIKE': '수영',
  'MEM_MEMORIAL': '아버님생신',
  'MEM_MEMORIALDAY': datetime.datetime(1999, 2, 12, 0, 0),
  'MEM_MILEAGE': 2300,
  'MEM_DELETE': None}]

In [1]:
for i in range(1, 10+1) :
    print(i)

1
2
3
4
5
6
7
8
9
10